.fieldGroup {
  position: relative;
  margin-top: 15px;
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 16px 12px 10px 12px;
}

.fieldGroup input {
  width: 100%;
  padding: 5px;
  border: none;
  outline: none;
  font-size: 1em;
  background: transparent;
}

/* legend를 label처럼 사용 */
.fieldGroup legend {
  font-size: 1em;
  color: gray;
  padding: 6px;
  background-color: white;
  transition:
    transform 0.2s ease-in-out,
    font-size 0.3s ease-in-out,
    color 0.3s ease-in-out;
  transform-origin: left top;
  transform: translateY(0) scale(1);
  pointer-events: none;
  position: absolute;
  top: 10px;
  left: 12px;
}

/* input에 포커스되거나 내용이 있을 경우 label 효과 */
.fieldGroup input:focus + legend,
.fieldGroup input:not(:placeholder-shown) + legend {
  transform: translateY(-26px) scale(0.9);
  color: rgb(11, 113, 59);
}
