.title {
  display: flex;
  justify-content: center;
  padding: 1em 0;
}

.container {
  width: 40%;
  margin: auto;
  border: 1px solid red;
  display: flex;
  flex-direction: column;
  gap: 0.5em;
}

.container input {
  padding: 1em 1.2em;
  border-radius: 0.25em;
  outline: none;
  border: 1px solid gray;
  font-size: 1rem;
}

.container input:focus {
  /* background-color: rgb(230, 249, 255); */
}

.container strong {
  color: red;
  font-weight: normal;
  font-size: 0.9em;
  padding: 1em;
}

.container button {
  width: 100%;
  padding: 1em;
  background-color: rgb(11, 127, 46);
  color: white;
  border-radius: 0.25em;
  align-self: center; /* 버튼만 중앙 정렬 */
}
